<div class="row">
  <div class="col-lg-12 my-auto">
    <div style="height: 3em;">
      <h5 class="tex" (click)="openCompanyForm()"><fa-icon [icon] = 'faFilePdf'></fa-icon>Agregar empresa</h5>
    </div>
  </div>
  <div class="col-lg-12 my-auto">
    <div style="height: 3em;">
      <h5 class="tex" (click)="changeCompany()"><fa-icon [icon] = 'faBuilding'></fa-icon> Cambiar empresa</h5>
    </div>
  </div>
  <div class="col-lg-12 my-auto">
    <div style="height: 3em;">
      <h5 class="tex" (click)="logout()"><fa-icon [icon] = 'faBuilding'></fa-icon> Cerrar sesión</h5>
    </div>
  </div>
</div>
